.Rtable-cell {
    box-sizing: border-box;
    -webkit-box-flex: 1;
            flex-grow: 1;
    width: 100%;
    padding: 0.5em 1em;
    overflow: hidden;
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
  }

.Rtable-cell--head {
    text-decoration: none;
}

  .Rtable-cell > * {
    margin: 0;
    padding: 0 1em;
  }


.socials-col {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: space-evenly;
}

.socials-col a {
    border-radius: 100%;
    padding: 3%;
    margin: 0 1em;
}

/* Resize bug when hovering */

.social-icon-wrapper {
    max-width: 25px;
    max-height: 25px;
    min-width: 25px;
    min-height: 25px;
    transition: all 0.06s ease-in;
}
.social-icon-wrapper:hover {
    transform: scale(1.07)
}
.social-icon-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 100%;

}
