.mapContainer {
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}

.sidebarStyle {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60.33px;
    left: 0;
    color: white;
    z-index: 1;
    font-family: "Press Start 2P", monospace;
    font-size: 9px;
    text-align: left;
    padding: 4%;

}
.sidebarStyle h1 {
  font-size: 11px;
  display: none;
}
.sidebarStyle span {
  color: #0ef854;
}
.artist-form {
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    outline: 1px solid red;
    z-index: 1;
    width: 300px;
    height: 200px;
}
.test {
    background: white;
    outline: 1px solid red;
    z-index: 1;

}

  .mapboxgl-popup-content {
      min-width: 100% !important;
      position: absolute; 
      padding: 0;
      border-radius: 20px;
      background: none;
      border: 0;
      bottom: 0.75em;
  }
  
  .mapboxgl-popup-content-wrapper {
    padding: 1%;
  }
  .mapboxgl-popup-tip{
    box-shadow: none;
  }

  .geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    bottom: 10px;
    }
  .mapboxgl-ctrl-geocoder {
    min-width: 100%;
    z-index: 3 !important;
  }
 

    @media (min-width:768px) {
      .sidebarStyle {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: initial;
        left: initial;
        bottom: 0;
        right: 0;
        font-size: 11px;
        text-align: right;
        padding: 0 1% 1.66% 0;
    }
    .sidebarStyle h1 {
        display: block;
    }
  }