.mapContainer {
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}

.sidebarStyle {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    z-index: 1 !important;
    padding: 6px;
    font-family: "Press Start 2P", monospace;
    font-size: 11px;
    text-align: right;
    padding: 2%;
}


.sidebarStyle h1 {
  font-size: 11px
}
.sidebarStyle span {
  color: #0ef854;
}
.artist-form {
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    outline: 1px solid red;
    z-index: 1;
    width: 300px;
    height: 200px;
}
.test {
    background: white;
    outline: 1px solid red;
    z-index: 1;

}

  .mapboxgl-popup-content {
      min-width: 100% !important;
      position: absolute; 
      padding: 0;
      border-radius: 20px;
      background: none;
      border: 0;
      bottom: 0.75em;
  }
  
  .mapboxgl-popup-content-wrapper {
    padding: 1%;
  }
  .mapboxgl-popup-tip{
    box-shadow: none;
  }

  .geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    bottom: 10px;
    }
    .mapboxgl-ctrl-geocoder {
    min-width: 100%;
    }
 